<div class="container">
  <%= render 'layouts/movie_info' %>
  <div class="episodes">
    <table class="table table-sm table-striped">
      <thead>
      <tr>
        <th scope="col">Сезон</th>
        <th scope="col">Серия</th>
        <th scope="col">Название</th>
        <th scope="col">Дата выхода</th>
        <th scope="col" class="text-center">Просмотрено</th>
      </tr>
      </thead>
      <tbody>
      <%# @seasons.each_pair do |season, episodes| %>
        <%# episodes.each_pair do |episode_number, episode_info| %>
<!--          <tr>-->
<!--            <td><%#= season %></td>-->
<!--            <td><%#= episode_number %></td>-->
<!--            <td><%#= episode_info[:episode_title] %></td>-->
<!--            <td><%#= episode_info[:episode_date] %></td>-->
<!--            <td class="text-center"><%#= check_box_tag 'viewed' %></td>-->
<!--          </tr>-->
        <%# end %>
      <%# end %>
      </tbody>
    </table>
  </div>
</div>