<div class="container">
  <div class="col-md-12">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Название(ru)</th>
        <th scope="col">Название(en)</th>
        <th scope="col">Сезонов</th>
        <th scope="col">Дата выхода</th>
      </tr>
      </thead>
      <tbody>
      <% @movies.each do |movie| %>
        <tr>
          <td><%= link_to movie.ru_title, movie_path(movie) %></td>
          <td><%= link_to movie.en_title, movie_path(movie) %></td>
          <td><%= movie.seasons.count %></td>
          <td><%= movie.start_date %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
